.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}
.hide {
    visibility: hidden;
}
.scrollable-table{
    width: 100%;
    overflow-x: scroll;
}
.border{
    border-right: 2px solid;
}
.tb{
    width: 100%;
    overflow-x: scroll;
}