.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.hide {
    visibility: hidden;
}

.scrollable-table {
    width: 100%;
    overflow-x: scroll;
}

.border {
    border-right: 2px solid;   
}
.borderBottom {
    border-bottom: 2px solid;
}

.tb {
    width: 100%;
    overflow-x: scroll;
}


.width{
    width : 50px;
}
.statusBg {
    background-color: green;
    display: flex;
    padding: 10;
    border-radius: 10%;
    color: whitesmoke;
    cursor: pointer;
    width: 100px;
    height: 24px;
    min-width: 100px;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    z-index: 20,
}

.statusBg:hover {
    background-color: #28a328;
}